body {
    font-family: 'Bebas Neue', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background-image: url("source/boy.jpg");
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}


/* left */

.left {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block
}


/* mid */

.mid {
    display: block;
    width: 60%;
    margin: 20px auto;
}

.mid .navbar {
    margin: 45px 53px;
}


/* right */

.right {
    position: absolute;
    top: 28px;
    right: 20px;
    display: inline-block
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
}

.navbar li a:hover {
    text-decoration: underline;
    color: grey;
    font-size: 21px;
    font-weight: 500;
}

.navbar li a:active {
    text-decoration: underline;
    color: grey;
}

.left img {
    width: 132px;
    background-size: cover;
}

.left div {
    color: grey;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn {
    background-color: black;
    width: 72px;
    margin: 14px 4px;
    border: solid grey;
    border-radius: 13px;
    font-family: 'Bebas Neue', cursive;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
}

.btn:hover {
    background-color: grey;
    font-size: 16px;
    cursor: pointer;
}

.container {
    border: solid grey;
    border-radius: 22px;
    margin: 161px 53px;
    padding: 26px 2px;
    width: 50%
}

.container h3 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    letter-spacing: 4px;
}

.container.form {
    display: block;
    width: 40%;
    margin: auto;
}

.container form div {
    text-align: center;
    font-size: 20px;
    color: grey;
    left: 2px;
    right: 2px;
    margin: 2px 2px;
    padding: 2px 2px;
}

.container form .form {
    padding: 6px 2px 1px;
    margin: 13px 7px;
    width: 52px;
    color: grey;
}

.container form .form input {
    font-family: 'Bebas Neue', cursive;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 19px;
    text-align: center;
    display: block;
    width: 125px;
    padding: 4px 100px;
    margin: 3px 174px;
}

.container .btn {
    display: block;
    width: 15%;
    margin: auto;
    font-size: 18px;
    letter-spacing: 3px;
}